.item-product {
  cursor: pointer;
  padding: 20px;

  h4 {
    margin: 6px 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  &:hover {
    transform: scale(1.05);
    transition: 0.6s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
