.app__home-best {
    display: grid;
    margin: 2rem 0;
    padding: 5rem 2rem;
    gap: 2rem;
    grid-template-rows: 150px 1fr;
}
.best-products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
    

}
